body {
background: linear-gradient(to right, #b8b597, #fffcfa);
font-family: 'Arial', sans-serif;
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
margin: 0;
padding: 20px;
}

.container {  
    background-color: rgba(235, 166, 166, 0.8);
    border-radius:40px;
    padding: 50px;
    max-width: 600px;
    text-align: center;
    box-shadow: 0 20px 40px rgba(0,0,0,0.2);
}

h1 {
    color:rgb(233, 229, 224);
    font-size: 2em;
    margin-bottom: 20px;
}

.foto-ultah {
    width: 60%;
    max-width: 300px;
    border-radius: 10%;
    border: 5px solid white;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    margin: 20px 0;
}

.pesan {
    font-size: 1.2em;
    color: #333;
    line-height: 1.6;
    margin: 20px 0;
}

.tahun {
    font-size: 1.6em;
    color: #ff6b81;
    font-weight: bold;
    margin-top: 20px;
}

@media (max-width: 768px) {
    .container {
        width:90%;
        padding:20px;
    }

    h1 {
    font-size: 1.8em;
    }

    .pesan {
    font-size: 1em;
    }

    button {
    font-size: 14px;
    padding: 6px 16px;
    }

}